# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [14]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
! pip install yfinance

Requirement already satisfied: yfinance in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\hp\appdata\roaming\python\python312\site-packages (from yfinance) (4.2.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\hp\appdata\roaming\python\python312\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python312\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.31->yfinance) (2024.6.2)

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
#import libraries
import yfinance as yf
import pandas as pd

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [17]:
stocks = [ 'AAPL', 'TSLA', 'TWTR', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [18]:
stock_data = yf.download(stocks, start = '2015-01-01', end ='2024-06-24')
stock_data.head()

[*******************   40%%                      ]  2 of 5 completed

$LNKD: possibly delisted; No price data found  (1d 2015-01-01 -> 2024-06-24)

[*********************100%%**********************]  5 of 5 completed

2 Failed downloads:
['TWTR']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
['LNKD']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 2015-01-01 -> 2024-06-24)')

Price       Adj Close                                       Close              \
Ticker           AAPL         IBM LNKD       TSLA TWTR       AAPL         IBM
Date
2015-01-02  24.402168  102.338921  NaN  14.620667  NaN  27.332500  154.933075
2015-01-05  23.714725  100.728630  NaN  14.006000  NaN  26.562500  152.495224
2015-01-06  23.716957   98.556282  NaN  14.085333  NaN  26.565001  149.206497
2015-01-07  24.049519   97.912186  NaN  14.063333  NaN  26.937500  148.231354
2015-01-08  24.973560  100.040306  NaN  14.041333  NaN  27.972500  151.453156

Price                            ...       Open                              \
Ticker     LNKD       TSLA TWTR  ...       AAPL         IBM LNKD       TSLA
Date                             ...
2015-01-02  NaN  14.620667  NaN  ...  27.847500  154.216064  NaN  14.858000
2015-01-05  NaN  14.006000  NaN  ...  27.072500  154.177826  NaN  14.303333
2015-01-06  NaN  14.085333  NaN  ...  26.635000  152.648178  NaN  14.004000
2015-01-07  NaN  14.063333  NaN  ...  26.799999  150.286804  NaN  14.223333
2015-01-08  NaN  14.041333  NaN  ...  27.307501  149.369019  NaN  14.187333

Price               Volume
Ticker     TWTR       AAPL      IBM LNKD      TSLA TWTR
Date
2015-01-02  NaN  212818400  5779673  NaN  71466000  NaN
2015-01-05  NaN  257142000  5104898  NaN  80527500  NaN
2015-01-06  NaN  263188400  6429448  NaN  93928500  NaN
2015-01-07  NaN  160423600  4918083  NaN  44526000  NaN
2015-01-08  NaN  237458000  4431693  NaN  51637500  NaN

[5 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [19]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2383 entries, 2015-01-02 to 2024-06-21
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2383 non-null   float64
 1   (Adj Close, IBM)   2383 non-null   float64
 2   (Adj Close, LNKD)  0 non-null      float64
 3   (Adj Close, TSLA)  2383 non-null   float64
 4   (Adj Close, TWTR)  0 non-null      float64
 5   (Close, AAPL)      2383 non-null   float64
 6   (Close, IBM)       2383 non-null   float64
 7   (Close, LNKD)      0 non-null      float64
 8   (Close, TSLA)      2383 non-null   float64
 9   (Close, TWTR)      0 non-null      float64
 10  (High, AAPL)       2383 non-null   float64
 11  (High, IBM)        2383 non-null   float64
 12  (High, LNKD)       0 non-null      float64
 13  (High, TSLA)       2383 non-null   float64
 14  (High, TWTR)       0 non-null      float64
 15  (Low, AAPL)        2383 non-null   float64
 16  (Low, IBM)         2383 non-null   float64
 17  (Low, LNKD)        0 non-null      float64
 18  (Low, TSLA)        2383 non-null   float64
 19  (Low, TWTR)        0 non-null      float64
 20  (Open, AAPL)       2383 non-null   float64
 21  (Open, IBM)        2383 non-null   float64
 22  (Open, LNKD)       0 non-null      float64
 23  (Open, TSLA)       2383 non-null   float64
 24  (Open, TWTR)       0 non-null      float64
 25  (Volume, AAPL)     2383 non-null   int64
 26  (Volume, IBM)      2383 non-null   int64
 27  (Volume, LNKD)     0 non-null      float64
 28  (Volume, TSLA)     2383 non-null   int64
 29  (Volume, TWTR)     0 non-null      float64
dtypes: float64(27), int64(3)
memory usage: 577.1 KB

In [20]:
stock_data.dtypes

Price      Ticker
Adj Close  AAPL      float64
           IBM       float64
           LNKD      float64
           TSLA      float64
           TWTR      float64
Close      AAPL      float64
           IBM       float64
           LNKD      float64
           TSLA      float64
           TWTR      float64
High       AAPL      float64
           IBM       float64
           LNKD      float64
           TSLA      float64
           TWTR      float64
Low        AAPL      float64
           IBM       float64
           LNKD      float64
           TSLA      float64
           TWTR      float64
Open       AAPL      float64
           IBM       float64
           LNKD      float64
           TSLA      float64
           TWTR      float64
Volume     AAPL        int64
           IBM         int64
           LNKD      float64
           TSLA        int64
           TWTR      float64
dtype: object

In [21]:
stock_data.shape

(2383, 30)

In [22]:
stock_data.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'LNKD'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'TWTR'),
            (    'Close', 'AAPL'),
            (    'Close',  'IBM'),
            (    'Close', 'LNKD'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (     'High', 'AAPL'),
            (     'High',  'IBM'),
            (     'High', 'LNKD'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (      'Low', 'AAPL'),
            (      'Low',  'IBM'),
            (      'Low', 'LNKD'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (     'Open', 'AAPL'),
            (     'Open',  'IBM'),
            (     'Open', 'LNKD'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'IBM'),
            (   'Volume', 'LNKD'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR')],
           names=['Price', 'Ticker'])

In [23]:
stock_data.describe()

Price     Adj Close                                            Close  \
Ticker         AAPL          IBM LNKD         TSLA TWTR         AAPL
count   2383.000000  2383.000000  0.0  2383.000000  0.0  2383.000000
mean      86.985334   112.382260  NaN   106.966508  NaN    88.972270
std       59.235205    20.102295  NaN   109.676434  NaN    58.782256
min       20.744020    73.761398  NaN     9.578000  NaN    22.584999
25%       33.958483   100.831562  NaN    16.901333  NaN    36.258749
50%       54.287514   106.853508  NaN    23.760668  NaN    56.717499
75%      145.428299   119.171410  NaN   209.533333  NaN   147.065002
max      216.669998   195.835968  NaN   409.970001  NaN   216.669998

Price                                       ...         Open               \
Ticker          IBM LNKD         TSLA TWTR  ...         AAPL          IBM
count   2383.000000  0.0  2383.000000  0.0  ...  2383.000000  2383.000000
mean     138.969606  NaN   106.966508  NaN  ...    88.902784   138.953440
std       16.450884  NaN   109.676434  NaN  ...    58.732386    16.453194
min       90.602295  NaN     9.578000  NaN  ...    22.500000    90.439774
25%      128.417778  NaN    16.901333  NaN  ...    36.155001   128.419998
50%      137.495224  NaN    23.760668  NaN  ...    56.567501   137.514343
75%      147.512390  NaN   209.533333  NaN  ...   147.060005   147.566925
max      197.779999  NaN   409.970001  NaN  ...   217.589996   197.580002

Price                                Volume                                   \
Ticker LNKD         TSLA TWTR          AAPL           IBM LNKD          TSLA
count   0.0  2383.000000  0.0  2.383000e+03  2.383000e+03  0.0  2.383000e+03
mean    NaN   107.003639  NaN  1.208315e+08  4.848493e+06  NaN  1.133439e+08
std     NaN   109.782154  NaN  6.802346e+07  2.906910e+06  NaN  7.545442e+07
min     NaN     9.488000  NaN  2.404830e+07  1.247878e+06  NaN  1.062000e+07
25%     NaN    16.851000  NaN  7.533170e+07  3.311741e+06  NaN  6.683100e+07
50%     NaN    23.798000  NaN  1.035268e+08  4.141846e+06  NaN  9.341700e+07
75%     NaN   209.731667  NaN  1.457390e+08  5.385380e+06  NaN  1.315502e+08
max     NaN   411.470001  NaN  6.488252e+08  3.981442e+07  NaN  9.140820e+08

Price
Ticker TWTR
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

[8 rows x 30 columns]

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [24]:
stock_data.items

<bound method DataFrame.items of Price        Adj Close                                         Close  \
Ticker            AAPL         IBM LNKD        TSLA TWTR        AAPL
Date
2015-01-02   24.402168  102.338921  NaN   14.620667  NaN   27.332500
2015-01-05   23.714725  100.728630  NaN   14.006000  NaN   26.562500
2015-01-06   23.716957   98.556282  NaN   14.085333  NaN   26.565001
2015-01-07   24.049519   97.912186  NaN   14.063333  NaN   26.937500
2015-01-08   24.973560  100.040306  NaN   14.041333  NaN   27.972500
...                ...         ...  ...         ...  ...         ...
2024-06-14  212.490005  169.210007  NaN  178.009995  NaN  212.490005
2024-06-17  216.669998  169.500000  NaN  187.440002  NaN  216.669998
2024-06-18  214.289993  170.550003  NaN  184.860001  NaN  214.289993
2024-06-20  209.679993  173.919998  NaN  181.570007  NaN  209.679993
2024-06-21  207.490005  172.460007  NaN  183.009995  NaN  207.490005

Price                                         ...        Open              \
Ticker             IBM LNKD        TSLA TWTR  ...        AAPL         IBM
Date                                          ...
2015-01-02  154.933075  NaN   14.620667  NaN  ...   27.847500  154.216064
2015-01-05  152.495224  NaN   14.006000  NaN  ...   27.072500  154.177826
2015-01-06  149.206497  NaN   14.085333  NaN  ...   26.635000  152.648178
2015-01-07  148.231354  NaN   14.063333  NaN  ...   26.799999  150.286804
2015-01-08  151.453156  NaN   14.041333  NaN  ...   27.307501  149.369019
...                ...  ...         ...  ...  ...         ...         ...
2024-06-14  169.210007  NaN  178.009995  NaN  ...  213.850006  168.289993
2024-06-17  169.500000  NaN  187.440002  NaN  ...  213.369995  168.759995
2024-06-18  170.550003  NaN  184.860001  NaN  ...  217.589996  170.000000
2024-06-20  173.919998  NaN  181.570007  NaN  ...  213.929993  174.080002
2024-06-21  172.460007  NaN  183.009995  NaN  ...  210.389999  173.970001

Price                                Volume
Ticker     LNKD        TSLA TWTR       AAPL       IBM LNKD       TSLA TWTR
Date
2015-01-02  NaN   14.858000  NaN  212818400   5779673  NaN   71466000  NaN
2015-01-05  NaN   14.303333  NaN  257142000   5104898  NaN   80527500  NaN
2015-01-06  NaN   14.004000  NaN  263188400   6429448  NaN   93928500  NaN
2015-01-07  NaN   14.223333  NaN  160423600   4918083  NaN   44526000  NaN
2015-01-08  NaN   14.187333  NaN  237458000   4431693  NaN   51637500  NaN
...         ...         ...  ...        ...       ...  ...        ...  ...
2024-06-14  NaN  185.800003  NaN   70122700   2777700  NaN   82038200  NaN
2024-06-17  NaN  177.919998  NaN   93728300   3239800  NaN  109786100  NaN
2024-06-18  NaN  186.559998  NaN   79943300   3386400  NaN   68982300  NaN
2024-06-20  NaN  184.679993  NaN   86172500   4723100  NaN   55893100  NaN
2024-06-21  NaN  182.300003  NaN  241805100  10181500  NaN   61937300  NaN

[2383 rows x 30 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [25]:
vol = stock_data['Volume']
vol.head(-5)

Ticker           AAPL      IBM  LNKD       TSLA  TWTR
Date
2015-01-02  212818400  5779673   NaN   71466000   NaN
2015-01-05  257142000  5104898   NaN   80527500   NaN
2015-01-06  263188400  6429448   NaN   93928500   NaN
2015-01-07  160423600  4918083   NaN   44526000   NaN
2015-01-08  237458000  4431693   NaN   51637500   NaN
...               ...      ...   ...        ...   ...
2024-06-07   53103900  3475500   NaN   56244900   NaN
2024-06-10   97262100  3444700   NaN   50869700   NaN
2024-06-11  172373300  2951300   NaN   64761900   NaN
2024-06-12  198134300  3522700   NaN   90389400   NaN
2024-06-13   97862700  3525700   NaN  118984100   NaN

[2378 rows x 5 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [30]:
vol['week'] = vol.index.isocalendar().week
vol['year'] = vol.index.year

week = vol.groupby(['week', 'year']).sum()
week.head(16)

C:\Users\hp\AppData\Local\Temp\ipykernel_3172\1856023458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vol['week'] = vol.index.isocalendar().week
C:\Users\hp\AppData\Local\Temp\ipykernel_3172\1856023458.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vol['year'] = vol.index.year

Ticker           AAPL       IBM  LNKD        TSLA  TWTR
week year
1    2015   212818400   5779673   0.0    71466000   0.0
     2016  1375160800  26415265   0.0   314631000   0.0
     2017   415382000  12492901   0.0   428646000   0.0
     2018   544687600  32822330   0.0   445702500   0.0
     2019   992756000  21924996   0.0   733350000   0.0
     2020   281803200   5776326   0.0   409659000   0.0
     2021   610791200  29742068   0.0   756413400   0.0
     2022   481949000  36009000   0.0   458800800   0.0
     2023   369948500  13648400   0.0   790689200   0.0
     2024   275190100  15322500   0.0   420745500   0.0
2    2015  1133010000  25578884   0.0   340644000   0.0
     2016  1217348800  30826980   0.0   350685000   0.0
     2017   555242800  17479705   0.0   317602500   0.0
     2018   440790000  23618471   0.0   491797500   0.0
     2019   814824400  20690821   0.0   466321500   0.0
     2020   670091600  17623322   0.0  1508389500   0.0

### Step 9. Find all the volume traded in the year of 2015

In [35]:

stock_data_2015 = stock_data[stock_data.index.year == 2015]
total_volume_2015 = stock_data_2015['Volume'].sum()
total_volume_2015

Ticker
AAPL    5.226420e+10
IBM     1.156439e+09
LNKD    0.000000e+00
TSLA    1.632327e+10
TWTR    0.000000e+00
dtype: float64

### BONUS: Create your own question and answer it.